{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_block %} {% endblock %}</title>
    {% block style_block %}{% endblock %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logos/leaf.png' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    {% block head_block %} {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <!-- Mobile Toggle Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Left Navigation -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="toggleDropdown('menDropdown')">Men</a>
                            <div id="menDropdown" class="custom-dropdown">
                                <div class="dropdown-content">
                                    <div class="dropdown-section">
                                        <h6>SHOES</h6>
                                        <a href="{% url 'products' collection_name='everyday-sneakers' %}">Everyday
                                            Sneakers</a>
                                        <a href="{% url 'products' collection_name='active-shoes' %}">Active
                                            Shoes</a>
                                        <a href="{% url 'products' collection_name='water-repellent-shoes' %}">Water-Repellent
                                            Sneakers</a>
                                        <a href="{% url 'products' collection_name='slip-ons' %}">Slip-Ons</a>
                                        <a href="{% url 'products' collection_name='high-tops' %}">High Tops</a>
                                        <a href="{% url 'products' collection_name='hiking-shoes' %}">Hiking</a>
                                        <a href="{% url 'coming_soon' %}">Sale</a>
                                    </div>
                                    <div class="dropdown-section">
                                        <h6>BESTSELLERS</h6>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Tree Runner Go' %}">Tree
                                            Runner Go</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Tree Dasher 2' %}">Tree
                                            Dasher 2</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Tree Runner Classic' %}">Tree
                                            Runner</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Power Sprint' %}">Power
                                            Sprint</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Mizzle Runner' %}">Mizzle
                                            Runner</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Wool Runner' %}">Wool
                                            Runner Go</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Tree Runner Pro' %}">Tree
                                            Runner Pro</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Storm Shield' %}">Storm
                                            Shield</a>
                                        <a href="{% url 'products' collection_name='men' %}">Shop all</a>
                                    </div>
                                    <div class="dropdown-section">
                                        <h6>APPAREL & MORE</h6>
                                        <a href="{% url 'coming_soon' %}">Socks</a>
                                        <a href="{% url 'coming_soon' %}">Tees</a>
                                        <a href="{% url 'coming_soon' %}">Sweats</a>
                                        <a href="{% url 'coming_soon' %}">Underwear</a>
                                        <a href="{% url 'coming_soon' %}">Bags</a>
                                        <a href="{% url 'coming_soon' %}">Hats</a>
                                        <a href="{% url 'coming_soon' %}">Insoles</a>
                                        <a href="{% url 'coming_soon' %}">Lace Kits</a>
                                        <a href="{% url 'coming_soon' %}">Gift Cards</a>
                                    </div>
                                    <!-- <div class="dropdown-section featured-section">
                                        <h6>FEATURED</h6>
                                        <div class="featured-items">
                                            <div class="featured-item">
                                                <img src="{% static 'assets/logos/mens-arrivals.jpg' %}"
                                                    alt="Men's New Arrivals">
                                                <span>Men's New Arrivals</span>
                                            </div>
                                            <div class="featured-item">
                                                <img src="{% static 'assets/logos/bestsellers.jpg' %}"
                                                    alt="Bestsellers">
                                                <span>Bestsellers</span>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="toggleDropdown('womenDropdown')">Women</a>
                            <div id="womenDropdown" class="custom-dropdown">
                                <div class="dropdown-content">
                                    <!-- Similar structure as Men's dropdown -->
                                    <div class="dropdown-section">
                                        <h6>SHOES</h6>
                                        <a href="{% url 'products' collection_name='everyday-sneakers' %}">Everyday
                                            Sneakers</a>
                                        <a href="{% url 'products' collection_name='active-shoes' %}">Active
                                            Shoes</a>
                                        <a href="{% url 'products' collection_name='ballet-flats' %}">Ballet
                                            Flats</a>
                                        <a href="{% url 'products' collection_name='water-repellent-shoes' %}">Water-Repellent
                                            Sneakers</a>
                                        <a href="{% url 'products' collection_name='slip-ons' %}">Slip-Ons</a>
                                        <a href="{% url 'products' collection_name='high-tops' %}">High Tops</a>
                                        <a href="{% url 'products' collection_name='hiking-shoes' %}">Hiking</a>
                                        <a href="{% url 'coming_soon' %}">Sale</a>
                                    </div>
                                    <div class="dropdown-section">
                                        <h6>BESTSELLERS</h6>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Tree Runner Go Women\'s' %}">Tree
                                            Runner Go</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Tree Dasher 2 Women\'s' %}">Tree
                                            Dasher 2</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Tree Runner Classic Women\'s' %}">Tree
                                            Runner</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Tree Breezer' %}">Tree
                                            Breezer</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Tree Sprinter' %}">Tree
                                            Sprinter</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Wool Breeze' %}">Wool
                                            Breezer</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Mountain Trekker' %}">Mountain
                                            Trekker</a>
                                        <a
                                            href="{% url 'product_page' collection_name='everyday-sneakers' product_name='Cloud Ballet' %}">Cloud
                                            Ballet</a>
                                    </div>
                                    <div class="dropdown-section">
                                        <h6>APPAREL & MORE</h6>
                                        <a href="{% url 'coming_soon' %}">Socks</a>
                                        <a href="{% url 'coming_soon' %}">Tees</a>
                                        <a href="{% url 'coming_soon' %}">Sweats</a>
                                        <a href="{% url 'coming_soon' %}">Underwear</a>
                                        <a href="{% url 'coming_soon' %}">Bags</a>
                                        <a href="{% url 'coming_soon' %}">Hats</a>
                                        <a href="{% url 'coming_soon' %}">Insoles</a>
                                        <a href="{% url 'coming_soon' %}">Lace Kits</a>
                                        <a href="{% url 'coming_soon' %}">Gift Cards</a>
                                    </div>
                                    <!-- <div class="dropdown-section featured-section">
                                        <h6>FEATURED</h6>
                                        <div class="featured-items">
                                            <div class="featured-item">
                                                <img src="{% static 'assets/logos/women-arrivals.jpg' %}"
                                                    alt="Women's New Arrivals">
                                                <span>Women's New Arrivals</span>
                                            </div>
                                            <div class="featured-item">
                                                <img src="{% static 'assets/logos/bestsellers.jpg' %}"
                                                    alt="Bestsellers">
                                                <span>Bestsellers</span>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'coming_soon' %}">Socks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'coming_soon' %}">New Arrivals</a>
                        </li>
                    </ul>
                </div>

                <!-- Brand Logo -->
                <a class="navbar-brand mx-auto" href="{% url 'index' %}"><img class="Logo"
                        src="{% static 'assets/logos/oaktrek_logo-no_bg.png' %}" alt=""></a>

                <!-- Right Navigation -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#"
                                onclick="toggleDropdown('sustainabilityDropdown')">Sustainability</a>
                            <div id="sustainabilityDropdown" class="custom-dropdown">
                                <div class="dropdown-content">
                                    <div class="dropdown-section">
                                        <h6>OUR IMPACT</h6>
                                        <a href="{% url 'adidasxoaktrek' %}">Adidas X OakTrek</a>
                                        <a href="{% url 'footprint' %}">Carbon Footprint</a>
                                        <a href="{% url 'regenerative' %}">Regenerative Agriculture</a>
                                        <a href="{% url 'responsibleenergy' %}">Waste Reduction</a>
                                    </div>
                                    <div class="dropdown-section">
                                        <h6>OUR INITIATIVES</h6>
                                        <a href="{% url 'renewable' %}">Eco-Friendly Innovations</a>
                                        <a href="{% url 'responsibleenergy' %}">Recycled Materials</a>
                                        <a href="{% url 'sustainability' %}">Sustainable Factories</a>
                                        <a href="{% url 'bcorp' %}">B Corp Certification</a>
                                        <!-- <a href="#">Community Engagement</a>
                                        <a href="#">Giving Back</a> -->
                                    </div>
                                    <div class="dropdown-section">
                                        <h6>LEARN MORE</h6>
                                        <a href="{% url 'sustainability' %}">Our Sustainability Report</a>
                                        <a href="{% url 'our_story' %}">Our Journey</a>
                                        <a href="{% url 'our_materials' %}">Our Materials</a>
                                        <a href="{% url 'login' %}">Join the Movement</a>
                                        <a href="{% url 'faq' %}">FAQs</a>
                                    </div>
                                    <!-- <div class="dropdown-section featured-section">
                                        <h6>FEATURED</h6>
                                        <div class="featured-items">
                                            <div class="featured-item">
                                                <img src="{% static 'assets/logos/sustainability-report.jpg' %}"
                                                    alt="Sustainability Report">
                                                <span>Sustainability Report</span>
                                            </div>
                                            <div class="featured-item">
                                                <img src="{% static 'assets/logos/eco-friendly.jpg' %}"
                                                    alt="Eco-Friendly Innovations">
                                                <span>Eco-Friendly Innovations</span>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stores' %}">Stores</a>

                        </li>
                    </ul>
                </div>


                <!-- Right Icons -->
                <div class="right-icons ms-3">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                        <circle cx="11" cy="11" r="8" />
                        <line x1="21" y1="21" x2="16.65" y2="16.65" />
                    </svg>
                    <a href="{% url 'profile' %}">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                            <circle cx="12" cy="7" r="4" />
                        </svg>
                    </a>
                    <a href="{% url 'faq' %}">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                            <circle cx="12" cy="12" r="10" />
                            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
                            <line x1="12" y1="17" x2="12.01" y2="17" />
                        </svg>
                    </a>
                    <div class="cart-icon-container">
                        <a href="{% url 'cart' %}" class="cart-icon-container">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                                <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
                                <line x1="3" y1="6" x2="21" y2="6" />
                                <path d="M16 10a4 4 0 0 1-8 0" />
                            </svg>
                            <span class="cart-count">{{ cart_count }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <main>
        {% block main_block %}

        {% endblock %}
    </main>


    <footer>
        {% include 'footer.html' %}
    </footer>


    <script src="{% static 'js/header.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" defer></script>
    {% block scripts %} {% endblock %}
</body>

</html>